body {
  font-family: Arial, Helvetica, sans-serif;
  color: #CCC;
}

#app {
  position: absolute;
  background: rgb(0,48,0);
  background: -moz-linear-gradient(144deg, rgba(0,48,0,1) 0%, rgba(0,23,1,1) 100%);
  background: -webkit-linear-gradient(144deg, rgba(0,48,0,1) 0%, rgba(0,23,1,1) 100%);
  background: linear-gradient(144deg, rgba(0,48,0,1) 0%, rgba(0,23,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003000",endColorstr="#001701",GradientType=1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
